option_settings:
    -
        option_name: NODE_ENV
        value: production
packages:
    yum:
        git: []
        cairo: []
        cairo-devel: []
        cairo-gobject: []
        libjpeg-turbo-devel: []
        giflib-devel: []
        libpng: []
        cups-libs: []
        dbus-glib: []
        libXrandr: []
        libXcursor: []
        libXinerama: []
        pango: []
commands:
    b:
        command: sudo rpm -ivh --quiet --nodeps --force http://mirror.centos.org/centos/7/os/x86_64/Packages/atk-2.22.0-3.el7.x86_64.rpm
    c:
        command: sudo rpm -ivh --quiet --nodeps --force http://mirror.centos.org/centos/7/os/x86_64/Packages/at-spi2-atk-2.22.0-2.el7.x86_64.rpm
    d:
        command: sudo rpm -ivh --quiet --nodeps --force http://mirror.centos.org/centos/7/os/x86_64/Packages/at-spi2-core-2.22.0-1.el7.x86_64.rpm
    e:
        command: sudo rpm -ivh --quiet --nodeps --force http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/g/GConf2-3.2.6-7.fc20.x86_64.rpm
    f:
        command: sudo rpm -ivh --quiet --nodeps --force http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/l/libXScrnSaver-1.2.2-6.fc20.x86_64.rpm
    g:
        command: sudo rpm -ivh --quiet --nodeps --force http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/l/libxkbcommon-0.3.1-1.fc20.x86_64.rpm
    h:
        command: sudo rpm -ivh --quiet --nodeps --force http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/l/libwayland-client-1.2.0-3.fc20.x86_64.rpm
    i:
        command: sudo rpm -ivh --quiet --nodeps --force http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/l/libwayland-cursor-1.2.0-3.fc20.x86_64.rpm
    j: 
        command: sudo rpm -ivh --quiet --nodeps --force http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/20/Fedora/x86_64/os/Packages/g/gtk3-3.10.4-1.fc20.x86_64.rpm
    k:
        command: sudo rpm -ivh --quiet --nodeps --force http://dl.fedoraproject.org/pub/archive/fedora/linux/releases/16/Fedora/x86_64/os/Packages/gdk-pixbuf2-2.24.0-1.fc16.x86_64.rpm
