option_settings:
    -
        option_name: NODE_ENV
        value: production
packages:
    yum:
        git: []
        cairo: []
        cairo-devel: []
        cairo-gobject: []
        libjpeg-turbo-devel: []
        giflib-devel: []
        libpng: []
        cups-libs: []
        dbus-glib: []
        libXrandr: []
        libXcursor: []
        libXinerama: []
        pango: []
        urw-fonts: []
commands:
    a:
        command: sudo rpm -ivh --quiet --nodeps --force https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm
 