.question {
  input[type=text],
  select, textarea {
    display: block;
    border: 1px solid $light_border_color;
    border-radius: $button_radius;
    line-height: ($button_lineheight + $button_padding + $button_padding);
    width: 100%;
    box-sizing: border-box;
    padding-left: $general_small_padding;
    padding-right: $general_small_padding;
    &::placeholder {
      color: $greyfill;
      font-family: $lightfont;
    }
  }
}