@import "vars";

.survey-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  background-color: $button-color;
  z-index: 2147483647;
  .survey-progress-bar {
    height: 0.5em;
    background-color: $button-text-color;
    span {
      display: none;
    }
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}