@import "vars";
@import "buttons";
@import "progress";
body {
    #surveyElement {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        max-width: 45em;
        font-size: $question-font-size;
        margin-bottom: $general-spacing;
        -webkit-font-smoothing: subpixel-antialiased !important;
        font-weight: lighter;        
        .qtitle {
            font-size: 1em;
        }
        .form-inline {
            
            @media screen and (max-width: $break-small) {
              
            }
        }
        .question {
            margin-top: 1em;
            .radio input[type=radio],
            .checkbox input[type=checkbox] {
                display: none;
            }
            .radio,
            .checkbox {
                label {
                    @extend .surveyButton;
                    //width: 100%;
                    font-size: 0.8em;
                    margin-bottom: $general-spacing;
                    padding: $general-spacing;
                }
            }
        }
        .panel-footer {
            background-color: transparent;
            text-align: center;
        }
    }
}