@import "vars";
@import "buttons";
@import "progress";
@import "fonts";
body {
    -webkit-text-size-adjust: 100% !important;
    #surveyElement {
        font-family: $lightfont;
        max-width: 45em;
        font-size: $question-font-size;
        line-height: $question-line-height;
        margin-bottom: $general-spacing;
        -webkit-font-smoothing: subpixel-antialiased !important;
        padding-top: 5em;
        div.radio {
            margin-right: $general-spacing;
            display: inline-block;
        }
        .instructions {
            font-family: $faintfont;
            color: $light-text-color;
        }
        .rating,
        .radio,
        .checkbox {
            label.btn.btn-default {
                font-size: 1.5em;
                color: $button-text-color;
                padding-left: 12px;
                display: inline-block;
                font-family: $heavierfont;
                vertical-align: text-top;
                @media screen and (max-width: $break-small) {
                    font-size: 1.1em;
                }
                span {
                    font-size: 0.7em;
                    position: relative;
                    top: -2px;
                    white-space: pre-wrap;
                }
            }
        }
        .rating {
            label.btn.btn-default {
                @media screen and (max-width: $break-small) {
                    padding: 6px 10px;
                }
            }
        }
        .checkbox {
            vertical-align: top;
            label.btn.btn-default {
                margin-right: $general-spacing;
                margin-bottom: $general-spacing;
                span {
                    width: 12em;
                    display: inline-block;
                    text-align: left;
                }
            }
            .otherCb {
                input[type=text] {
                    min-width: 15.6em;
                }
            }
        }
        .panel-body {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 3em;
            padding-right: 3em;
            @media screen and (max-width: $break-small) {
                padding-left: 1.6em;
                padding-right: 1.0em;
            }
        }
        .qtitle {
            font-size: $heading-font-size;
            position: relative;
            .qNum {
                position: absolute;
                left: -3em;
                top: 0;
                width: 2em;
                text-align: right;
                color: lighten($question-text-color, 70%);
                @media screen and (max-width: $break-small) {
                    position: static;
                    left: 0;
                    top: 0;
                    margin-right: 0.5em;
                }
                &::after {
                    content: "›";
                    position: absolute;
                    top: 0;
                    right: -0.5em;
                    color: lighten($button-text-color, 30%);
                    @media screen and (max-width: $break-small) {
                        position: static;
                        left: 0;
                        top: 0;
                        padding-left: 0.2em;
                    }
                }
            }
        }
        .form-inline {
            @media screen and (max-width: $break-small) {}
        }
        .question {
            margin-top: 1em;
            margin-bottom: 4em;
            b {
                font-weight: normal;
                font-family: $heavierfont;
            }
            h1 {
                font-family: $heavierfont;
                font-size: $heading-font-size;
                font-weight: normal;
                color: $question-text-color;
                position: relative;
                &::before {
                    position: absolute;
                    content: "※";
                    font-size: 1.5em;
                    top: -0.17em;
                    left: -1em;
                    color: lighten($question-text-color, 70%);
                    font-weight: lighter;
                    @media screen and (max-width: $break-small) {
                        font-size: 0.8em;
                        top: 0.22em;
                        left: -0.95em;
                        color: lighten($question-text-color, 80%);
                    }
                }
            }
            .radio input[type=radio],
            .checkbox input[type=checkbox] {
                display: none;
            }
            .radio,
            .checkbox {
                width: auto !important;
                label {}
            }
        }
        .panel-footer {
            background-color: transparent;
            text-align: center;
        }
    }
}