.question--matrixrating,
.question--matrixradio {
  text-align: center;
  .rating-zone {
    margin-top: $general_padding;
    label {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
  .pagination--controls {
    a {
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      border: 1px solid $border_color;
      border-radius: 1em;
      margin-right: 0.5em;
      &:last-child {
        margin-right: 0;
      }
      &.selected {
        background-color: $border_color;
      }
    }
  }
  .matrix--carousel {
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    @media (max-width: $screen-sm-min) {
      width: 17em;
    }
    .choiceitem {
      height: $carousel_height;
      line-height: $carousel_height;
      @media (max-width: $screen-sm-min) {
        height: ($carousel_height * 0.75);
        line-height: ($carousel_height * 0.75);
      }
      width: 100%;
      padding-left: ($general_padding * 3);
      padding-right: ($general_padding * 3);
      position: relative;
      top: 0px;
      left: 0px;
      display: none;
      opacity: 1;
      &.selected {
        display: inline-block;
      }
      &.afSelected {
        transition: left $slow_anim_timing, opacity $slow_anim_timing;
        left: -30%;
        opacity: 0;
      }
      &.abSelected {
        transition: left $slow_anim_timing, opacity $slow_anim_timing;
        left: 30%;
        opacity: 0;
      }
      &.abPrevSelected {
        transition: left $slow_anim_timing, opacity $slow_anim_timing;
        left: 0;
        opacity: 1;
      }
      &.nextselected {
        transition: left $slow_anim_timing, opacity $slow_anim_timing;
        left: -70%;
        opacity: 0;
        display: inline-block;
        &.afNextSelected {
          left: -100%;
          opacity: 1;
        }
      }
      &.prevselected {
        display: inline-block;
        position: absolute;
        left: -30%;
        opacity: 0;
        &.afPrevSelected {
          left: 0;
          opacity: 1;
        }
      }
      .choiceinner {
        font-family: $heaviestfont;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        line-height: 1.2em;
        font-size: 1.4em;
        @media (max-width: $screen-sm-min) {
          font-size: 1.2em;
        }
      }
      box-sizing: border-box;
    }
    .carousel--control {
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0;
      cursor: default;
      line-height: $carousel_height;
      text-decoration: none;
      color: $greyfill;
      padding-left: ($general_padding / 2);
      padding-right: ($general_padding / 2);
      border-radius: $button_radius;
      transition: opacity $fast_anim_timing;
      &.visible {
        opacity: 1;
        cursor: pointer;
      }
      &:hover {
        background-color: $light_border_color;
        color: $invert_text_color;
      }
      &.right {
        right: 0px;
        left: auto;
      }
    }
  }
}