.loading--container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $background-image-match;
  z-index: 9999999;
  transition: all ($fast_anim_timing * 2);
  opacity: 1;
  &.complete {
    opacity: 0;    
    .loading--inner {
      transform: scale(10, 10);
    }
  }
  .loading--inner {
    transition: all ($fast_anim_timing * 2.5);
    transform: scale(1,1);
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo--finerink {
    @media (max-width: $screen-sm-min) {
      background-image: url($loadinglogoimage) !important;
    }
  }
  .fontTestZone {
    font-family: latobold;
    position: absolute;
    top: -1000px;
    left: -1000px;
    .subTest {
      font-family: jellyka;
      font-size: 4em;
    }
  }
}