@import "questiontypes/rating";
@import "questiontypes/checkbox";
@import "questiontypes/radio";
@import "questiontypes/stars";
@import "questiontypes/slider";
@import "questiontypes/text";
@import "questiontypes/dropdown";
@import "questiontypes/matrixrating";
@import "questiontypes/sort";
@import "questiontypes/buttons";
@import "questiontypes/multitext";
.question {
  font-family: $desktopfont;
  color: $question_clr;
  display: block;
  width: $desktop_question_width;
  text-align: center;
  margin-bottom: ($general_padding / 2);
  hr {
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-top: 1px solid $border_color;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: $general_padding;
    margin-bottom: $general_padding;
  }
  .question--image {
    display: inline-block;
    &.big {
      width: 100%;
    }
    &.medium {
      width: 80%;
    }
    &.small {
      width: 10em;
    }
    &.icon {
      width: 5em;
    }
  }
  .question--number {
    font-family: $heavierfont;
    margin-right: ($general_padding / 5);
  }
  @media (max-width: $screen-md-min) {
    width: 30em;
    display: inline-block;
  }
  @media (max-width: $screen-sm-min) {
    width: 85%;
    font-family: $mobile_lightfont;
    min-width: auto;
  }
  h2 {
    font-size: 1.25em;
    margin-top: 0;
    font-weight: normal;
  }
  .subtitle {
    line-height: 1.4em;
  }
  .instructions {
    color: $instructions_clr;
    animation-duration: $slow_anim_timing !important;
    user-select: none;
    cursor: default;
    @media (max-width: $screen-sm-min) {
      font-size: 0.8em;
    }
    &.alarm {
      animation: instructionsAnimation;
    }
  }
  .selectbutton {
    @include button_style;
  }
  .standalonebutton {
    @include standalone_button_style;
  }
  .smalllabel {
    font-size: $small_label_size;
    color: $question_clr;
    user-select: none;
    cursor: default;
    @media (max-width: $screen-sm-min) {
      font-size: 0.9em;
    }
  }
}