@import "questiontypes/rating";
@import "questiontypes/checkbox";
@import "questiontypes/radio";
@import "questiontypes/stars";
@import "questiontypes/slider";
@import "questiontypes/text";
@import "questiontypes/dropdown";
@import "questiontypes/matrixrating";
@import "questiontypes/sort";

.question {
  font-family: $desktopfont;
  color: $question_clr;
  display: inline-block;
  width: $desktop_question_width;
  text-align: center;
  @media (max-width: $screen-md-min) {
    width: 70%;
  }
  @media (max-width: $screen-sm-min) {
    width: 85%;
    font-family: $mobile_lightfont;
  }
  h2 {
    font-size: 1.25em;
    margin-top: 0;
  }
  .instructions {
    color: $instructions_clr;
    animation-duration: $slow_anim_timing !important;
    user-select: none;
    cursor: default;
    @media (max-width: $screen-sm-min) {
      font-size: 0.8em;
    }
    &.alarm {
      animation: instructionsAnimation;
    }
  }
  .selectbutton {
    @include button_style;       
  }
  .standalonebutton {
    @include standalone_button_style;       
  }
  .smalllabel {
    font-size: $small_label_size;
    color: $instructions_clr;
    user-select: none;
    cursor: default;
    @media (max-width: $screen-sm-min) {
      font-size: 0.9em;
    }
  }
}