table(class='centering-table', id='complete-table')
  tbody
    tr
      td(class='align-middle centering-td') 
        p(class='handwriting')
          span Thanks for assisting!
        p
          span(class='calltoaction') Interested in #[span(class='win') win] / loss analysis?
        p
          a(class='calltoaction', title='Finer Ink Win/Loss Analysis', href='https://www.finer.ink') visit us
        span(class='logo')
          img(src='/static/assets/logos/filogo_3x.png', title='Finer Ink Win/Loss Analysis')